
body {
    background: #E5E5E5;
    font-family: $font-sans;
    color: $main_text_color;
    font-weight: 300;
}

img {
    width: 100%;
}

h2, h3, h4 {
    font-weight: bold;
    font-family: $font-serif;
    color: #4B5665;
}

h4 {
    font-size: 1.2em;
}

.main-text {
    font-size: 1.2em;
    font-weight: 300;
}

.btn {
    background-color: $main_color;
    height: auto;
    padding: 1.4em 2.5em;
    font-size: 0.8em;
    border: none;

    &:hover {
        background-color: $main_color_hover;
    }

    &:focus {
        background-color: $main_color_hover;
    }

    &:active {
        background-color: $main_color_hover;
    }
}

.carousel {
    position: relative;
    z-index: 1;

    .carousel-caption {
        bottom: 20vh;

        h1 {
            font-family: $font-sans;
            font-size: 4.4em;
            line-height: 1.6em;
        }

        p {
            display: block;
            margin: 10px 0 60px;
            font-family: $font-serif;
            font-size: 1.3em;
            line-height: 0.9em;
        }
    }
}

#contenedor-general {
    margin: 0 auto;
    margin-top: -30px;
    background-color: #fff;
    position: relative;
    z-index: 2;
    border-radius: 0.5em;
    width: 95%;
    max-width: none;
    box-shadow: 0 1px 1em #777;
}

#contenedor-general > .row > .col {
    padding: 5em 8em;

    &.bottom-cero {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

#navegador {
    position: fixed;
    z-index: 1000;
    background: none;
    box-shadow: none;
    transition: 0.5s;

    i.material-icons {
        font-size: 1.2em;
        margin: 0 7px;
    }

    .dropdown-content.active {
        border-radius: 4px;

        li {
            padding: 0.2em;
            min-height: auto;
            overflow: visible;
            
            a {
                padding: 0.6em;
                overflow: visible;
            }

            a:hover {
                background-color: $main-color-hover;
                @include buttonEffect();
            }
        }

        a {
            font-size: 0.8em;
            color: #333;
            
            i.fa {
                font-size: 1.4em;
                margin: 0 7px;
            }
        }

        &#dropdown2 {
            li {
                a:hover {
                    background-color: $second-color;
                    @include buttonEffect();
                }
            }
        }
    }
}

#navegador.nav-alternative {
    background: #fff;
    box-shadow: 0 0 1em #000;
    transition: 0.5s;

    a {
        color: #777;
        transition: 0.5s;
    }
    
    .dropdown-button.active {
        color: $main_color;
        transition: 0.5s;
    }

    a.btn {
        color: #fff;
    }
}

.carousel {
    height: 90vh;

    .slide, .item, .carousel-inner {
        height: 90vh;
    }

    .item img {
        height: 100%;
    }
}


i.material-icons.icon-highlight {
    font-size: 5em;

    &.icon-color-1 {
        color: $main_color;
    }
    &.icon-color-2 {
        color: #00BCD4;
    }
    &.icon-color-3 {
        color: #4CAF50;
    }
}

.parallax-section {
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

.container .row.parallax-section {
    @include withoutMargin();
}

.second_section {
    background-image: $background_image;
    @include invertColor();
}

.ten_section {
    background-image: $background_image;
}

.about {
    background-image: url("../img/about.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#back_gris {
    background-color: #EFEFEF;
    @include withoutMargin();

    .section_products {
        .single_product {
            background-color: #fff;
            margin: 10px;
            padding: 30px;
            box-shadow: 0 1px 3px #888;
            border-radius: 4px;

            a {
                color: $main_color;
                font-weight: 500;
                font-size: 0.9em;
            }

            img {
                margin-top: -50px;
                margin-bottom: 2em;
                @include buttonEffect();
            }

            img:hover {
                margin-top: -60px;
                margin-bottom: 20px;
            }
        }
    }
}

.contenedor-interno {
    padding: 5em 7em;
}

#portfolio {
    .img-hover {
        position: relative;
    }

    img {
        position: relative;
        z-index: 1;
        border-radius: 4px;
        @include buttonEffect();
    }

    .img-text {
        position: absolute;
        top: 40%;
        left: 0;
        z-index: -1;
        color: #fff;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .tag {
        text-transform: uppercase;
        background-color: $main-color;
        border-radius: 1em;
        padding: 5px;
        font-size: 0.7em;
    }

    .img-hover:hover img {
        filter: brightness(30%);
    }

    .img-hover:hover .img-text {
        z-index: 9;
    }
}

.section_team {
    img {
        width: 90%;
        @include buttonEffect();
    }
}

.social-icons {
    .fa {
        padding: 1em;
    }
    .fa-linkedin {
        color: #0976B4;
    }
    .fa-google-plus, .fa-pinterest, .fa-dribbble {
        color: #E05F4F;
    }
    .fa-facebook {
        color: #0976B4;
    }
    .fa-twitter {
        color: #55ACEE;
    }
    .fa-github {
        color: #333;
    }
}

.col_treasure {
    background: #fff;
    @include buttonEffect();
    color: $main_text_color;
}

strong {
    color: #4B5665;
}

.clients {
    img {
        width: 30%;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
        color: #fff;
        text-decoration: none;
        overflow: visible;
        transition: all 150ms linear;
    }
    & h3 {
        font-size: 1.2em;
    }
    & h4 {
        font-size: 0.9em;
    }
}

