$background_image: url("../img/img_city.jpg");
$main_color: #E91E63;
$main_color_hover: #E91E63;
$second_color: #9C27B0;
$main_text_color: #B4B4B4;
$font-sans: "Roboto","Helvetica","Arial",sans-serif;
$font-serif: "Roboto Slab","Times New Roman",serif;