body {
    background: #E5E5E5;
}

img {
    width: 100%;
}

.carousel {
    position: relative;
    z-index: 1;
}

#contenedor-general {
    margin: 0 auto;
    margin-top: -30px;
    background-color: #fff;
    position: relative;
    z-index: 2;
    border-radius: 0.5em;
}

#contenedor-general > .row > .col {
    padding: 5em 8em;
}

/*#contenedor-general > .row i {
    font-size: 5em;
}*/

#navegador {
    position: fixed;
    z-index: 1000;
    background: none;
    box-shadow: none;
    transition: 0.5s;
}

#navegador.nav-alternative {
    background: #fff;
    box-shadow: 0 0 1em #000;
    transition: 0.5s;
}

#navegador.nav-alternative a {
    color: #777;
    transition: 0.5s;
}

#navegador.nav-alternative .dropdown-button.active {
    color: #e91e63;
    transition: 0.5s;
}

.silders, .carousel .item, .carousel .carousel-inner {
    height: 90vh;
}

.carousel .item img {
    height: 100%;
    width: 100%;
}

.second_section {
    background-image: url("../img/img_city.jpg");
    height: 130vh;
}

.second_section img {
    width: 100%;
}